<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<link rel="stylesheet" href="/public/css/bootstrap-4.5.0-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="./public/css/home.css">

<body>
    <nav class="nav">
        <a class="nav-link" href="/user">User</a>
        <a class="nav-link" href="/todo">Todo</a>
        <a class="nav-link" href="/sign-up">Sign Up</a>
        <a class="nav-link" href="/login">Login</a>
    </nav>
    <h2>Welcome to my example</h2>

</body>
<script src="./public/js/jquery-3.5.1.min.js"></script>
<script src="./public/js/main.js"></script>

</html>